@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }

*{
  color: white;
}

body{
  background-color:black;
  margin:0;
  padding:0;
}
  
  /* Hide scrollbar for Firefox */
  /* .custom-scrollbar {
    scrollbar-width: none;
  } */
