.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.title{
   font-weight: bold;
   padding-left: 20px;
}

.foodList{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.items{
    height: 250px;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    height: 85%;
    width: 100%;
}


