*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
    cursor: url("/public/cursor.png"),auto;
  }

  .app{
    margin-top: 70px
  }
@tailwind base;
@tailwind components;
@tailwind utilities;




